<a class="post mt-4 d-flex flex-column justify-content-center align-items-center borderdark col-11" href="#">
    <div class="col-12 px-3 d-flex justify-content-between align-items-center bgdark txtlight">
        <h2 id="posttitle">{{title}}</h2>
        <p id="postdate">Posted by {{user.username}} on {{date_created}}</p>
    </div>
    <p id="postDetails" class="txtlight px-2"> {{postDetail}} </p>
</a>