<div class="d-flex">
    <h1 id="pageTitle" class="px-2 ms-5 rounded-4 bglight txtdark bold">Login</h1>
</div>
</header>

<div class="col-12 d-flex flex-wrap justify-content-evenly">
    <div class="post mt-4 d-flex flex-column justify-content-center align-items-center borderdark col-4">
        <div class="col-12 px-3 d-flex justify-content-between align-items-center bgdark txtlight">
            <h2 id="posttitle">Login</h2>
        </div>
        <form>
            <div>
                <label class="form-label txtlight">Username</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label class="form-label txtlight">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" id="loginbtn" class="btn btn-outline-light bgdark txtlight mb-2">Submit</button>
        </form>
    </div>

    <div class="post mt-4 d-flex flex-column justify-content-center align-items-center borderdark col-4">
        <div class="col-12 px-3 d-flex justify-content-between align-items-center bgdark txtlight">
            <h2 id="posttitle">Sign up</h2>
        </div>
        <form>
            <div>
                <label class="form-label txtlight">Username</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label class="form-label txtlight">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" id="signupbtn" class="btn btn-outline-light bgdark txtlight mb-2">Submit</button>
        </form>
    </div>