.txtdark {
    color: rgb(63, 9, 9);
}

.txtlight {
    color: rgb(196, 213, 218);
}

.bgdark {
    background-color: rgb(63, 9, 9);
}

.bglight {
    background-color: rgb(196, 213, 218);
}

.bgblack {
    background-color: rgb(35, 44, 44);
}

.borderdark {
    border: 5px;
    border-style: solid;
    border-color: rgb(63, 9, 9);
}

.bold {
    font-weight: bold;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}